<!-- User index page -->
<div class="page-fix">
  <div class="main-wrapper bg-light-grey">
    <div class="sidebar">
      <div class="stats-wrapper">
        <div class="bg-grey stats">
          <h2 class="light-font stat-header">Conversion Rate</h2>
          <div class="spinner" id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          <p class="stat-detail stat-number hidden" id="conversion-rate"><%= global_conversion_rate_for(@leads.where(status: "settled"), @leads.where(status: ["settled", "lost"])) %>%</p>
        </div>
      </div>

      <div class="stats-wrapper">
        <div class="bg-grey stats">
          <h2 class="light-font stat-header">Rank #1</h2>
          <h2 class="stat-detail"><%= calculate_ranking(@users).first[:name] %> </h2>
          <!-- INSERT AVATAR HERE -->
          <% top_name = calculate_ranking(@users).first[:name] %>
          <% top_user = User.where(name: top_name) %>
          <%= image_tag top_user.first.photo, class: "center-block avatar-medium" %>
        </div>
      </div>

      <div class="stats-wrapper">
        <div class="bg-grey stats">
          <h2 class="light-font stat-header">Total Leads (this week)</h2>
          <h2 class="stat-detail stat-number"><%= count_leads_since(DateTime.yesterday) %></h2>
        </div>
      </div>

      <div class="stats-wrapper">
        <div class="bg-grey stats">
          <h2 class="light-font stat-header">Avg Response Time (mins):</h2>
          <p class="stat-detail stat-number"><%= (Lead.average(:response_time) / 60).round %></p>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <!-- div for the add lead button and view window -->
          <div class="col-xs-12">
            <!-- Button to add new lead -->
            <div class="table-wrapper">
              <ul class="list-inline">
                <li>
                  <h1>Sales Team Management</h1>
                </li>
                <li>
                  <%= link_to "Add Salesperson", new_user_path, class: "btn btn-primary add-lead-btn", id: "bottom-button-margin" %>
                </li>
              </ul>
            <div class="next-lead-box">
              <%= image_tag("blue-icon.png", size: "30x18", alt: "Mail Icon") %>
              <h3>The next lead will be forwarded to: <b><%= Lineup.first.lineup.first.name %></b></h3>
            </div>
              <!-- Main table of employees -->
              <div class="scroll-me">
                <table class="table table-striped" id="TableSort" style="width:100%">

                  <tr class="bg-grey light-font" id="table-header-green">
                    <th class="user-th rank-width"> <%= link_to users_path(order: "rank") do %>Rank<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

                    <th class="user-th name-width"><%= link_to users_path(order: "name") do %>Salesperson<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

                    <th class="user-th email-width"><%= link_to users_path(order: "email") do %>Email<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

                    <th class="user-th conversion-width">Conversion %</th>
                    <th class="user-th response-width">Avg Response Time</th>
                    <th class="user-th avail-width">Availability</th>
                    <th class="user-th delete-width">Delete</th>
                  </tr>

                  <% @users.each do |user| %>
                    <tr class="user-tr">
                      <td class="user-td" id="rank-align"><%= user.rank %></td>
                      <td class="user-td"><%= link_to user.name, user_path(user) %></td>
                      <td class="user-td"><%= user.email %></td>
                      <td class="user-td" id="rank-align"><%= conversion_rate_for(user) %> %</td>
                      <td class="user-td" id="rank-align"><%= user.leads.average(:response_time) ? (user.leads.average(:response_time) / 60).round : "n/a" %> mins</td>
                      <td class="user-td">

                        <% if user.available %>
                          <%= link_to toggle_availability_user_path(user), method: :patch do %>
                            <label class="switch2">
                              <input type="checkbox" checked>
                              <div class="slider2"><div class="ontext2">Available</div></div>
                            </label>
                          <% end %>
                        <% else %>
                          <%= link_to toggle_availability_user_path(user), method: :patch do %>
                            <label class="switch2">
                              <input type="checkbox">
                              <div class="slider2"><div class="offtext2">Off Duty</div></div>
                            </label>
                          <% end %>
                        <% end %>
                        </div>
                      </td>

                      <td class="pad-right-plz">
                        <%= link_to user_path(user), method: :delete, data: { confirm: "Are you sure you want to delete this user?" } do %>
                          <i class="fa fa-times" aria-hidden="true"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
