<div>

  <!-- div for the add lead button and view window -->
  <div class="main-view-window">
    <!-- Button to add new lead -->
    <div class="user-button">
      <%= link_to "Add Lead", new_lead_path, class: "btn btn-primary" %>
    </div>

    <!-- Main table of employees -->
    <div class="wrapper">

        <table class="user-table" style="width:100%">

        <tr class="table-header">
          <th class="user-th">Ranking</th>
          <th class="user-th">Salesperson</th>
          <th class="user-th">Email</th>
          <th class="user-th">Unavailable</th>
          <th class="user-th">Delete User</th>
        </tr>

        <% @users.each do |user| %>
        <tr class="user-tr">
          <td class="user-td"><%= user.rank %></td>
          <td class="user-td"><%= user.name %></td>
          <td class="user-td"><%= user.email %></td>
          <td class="user-td"><%= user.available %></td>
          <td class="user-td">X</td>
        <% end %>
        </tr>
        </table>

    </div>
  </div>
</div>
