<div class="container">
  <div class="col-sm-4">
    <div class="bg-grey">
      <h1> USER DETAILS - sidebar content </h1>

      <%= image_tag @user.photo, class: "avatar-large" %>

      <p>Name: <%= @user.name %></p>

      <p>Available? <%= @user.available %></p>

      <%= link_to 'Availability', toggle_availability_user_path(@user), method: :patch, class: "btn btn-primary" %>

      <p> Conversion Rate: Calculate user.leads.count / user.settled.count * 100 %</p>

      <p> You are ranked <%= @user.rank %> / <%= User.count %>
      # method to calculate and update rank
    </div>
  </div>

  <div class="col-sm-8">
    <h1> LEAD DETAILS - table content </h1>

    <% @leads.each do |lead| %>
     <p>Contact Name: <%= lead.name %></p>
     <p>Contact Email: <%= lead.email %></p>
     <p>Lead Status: <%= lead.status.capitalize %></p>
     <p>Lead Source: <%= lead.source %></p>
     <p>Saleperson: <%= lead.user ? lead.user.name : "" %></p>
     <p>Lead Received: <%= lead.created_at %></p>
    <% end %>
    </div>
  </div>
