<div class="main-wrapper bg-light-grey">
  <div class="sidebar">
    <div class="avatar-wrapper">
      <%= image_tag @user.photo, class: "avatar-large" %>
      <h3 class="light-font"><%= @user.name %></h3>
      <!-- New toggle slide -->
      <% if @user.available %>
        <%= link_to toggle_availability_user_path(@user), method: :patch do %>
          <label class="switch">
            <input type="checkbox" checked>
            <div class="slider"><div class="ontext">AVAILABLE</div></div>
          </label>
        <% end %>
      <% else %>
        <%= link_to toggle_availability_user_path(@user), method: :patch do %>
          <label class="switch">
            <input type="checkbox">
            <div class="slider"><div class="offtext">OFF DUTY</div></div>
          </label>
        <% end %>
      <% end %>
    </div>

    <div class="stats-wrapper">
      <div class="bg-grey stats">
        <h2 class="light-font stat-header">Conversion Rate</h2>
        <div class="spinner" id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
          <p class="stat-detail stat-number hidden" id="conversion-rate"><%= conversion_rate_for(@user) %> %</p>
      </div>
    </div>

    <div class="stats-wrapper">
      <div class="bg-grey stats">
        <h2 class="light-font stat-header">Ranking</h2>
          <p class="stat-detail stat-number"><%= find_user_ranking(@user, @users) %> / <%= @users.count %></p>
      </div>
    </div>

    <div class="stats-wrapper">
      <div class="bg-grey stats">
        <h2 class="light-font stat-header">Avg Response Time (mins):</h2>
          <p class="stat-detail stat-number"><%= @user.leads.average(:response_time) ? (@user.leads.average(:response_time) / 60).round : "n/a" %></p>
      </div>
    </div>
  </div>
 <!-- PENDING LEADS TABLE -->
  <div class="col-sm-12">
    <div class="table-wrapper">
      <h2> Pending Leads: </h2>
      <div class="scroll-me2">
        <table class="user-table table-striped" style="width:100%">
        <tr class="table-header bg-grey light-font" id="table-header-green">
          <th class="user-th"></th>
          <th class="user-th">Lead ID:</th>
          <th class="user-th">Status:</th>
          <th class="user-th">Received:</th>
        </tr>
        <% if @pending_leads.any? %>
        <% @pending_leads.each do |lead| %>
        <tr class="user-tr">
          <td class="user-td"><%= link_to "Accept", mark_as_accepted_lead_path(lead), method: :patch, class: "btn btn-primary table-button" %></td>
          <td class="user-td">000<%= lead.id %></td>
          <td class="user-td"><%= lead.status.capitalize %></td>
          <td class="user-td"><%= lead.created_at.strftime("%d/%m/%y at %I:%M%p") %> (<%= time_ago_in_words(lead.created_at) %> ago)</td>
        </tr>
        <% end %>
        </table>
        <% else %>
          </table>
          <div class="no-pending-details">No pending leads to display</div>
        <% end %>
      </div><BR><BR>

 <!-- WIP LEADS TABLE -->

    <h2> Work In Progress: </h2>
    <div class="scroll-me2">
      <table class="user-table table table-striped" style="width:100%">
      <tr class="table-header bg-grey light-font" id="table-header-grey">
        <th class="user-th">Lead ID:</th>
        <th class="user-th">Name:</th>
        <th class="user-th">Email:</th>
        <th class="user-th">Phone:</th>
        <th class="user-th">Source:</th>
        <th class="user-th">Generated:</th>
        <th class="user-th">Outcome:</th>
      </tr>
      <% if @ongoing_leads.any? %>
      <% @ongoing_leads.each do |lead| %>
      <tr class="user-tr">
        <td class="user-td">000<%= lead.id %></td>
        <td class="user-td"><%= lead.name %></td>
        <td class="user-td"><%= lead.email %></td>
        <td class="user-td"><%= lead.phone %></td>
        <td class="user-td"><%= lead.source %></td>
        <td class="user-td"><%= lead.created_at.strftime("%d/%m/%y at %I:%M%p") %></td>
        <td class="user-td">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle table-button" type="button" data-toggle="dropdown">Options
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to "Settle Lead", mark_as_settled_lead_path(lead), method: :patch, class: "table-dropdown" %></li>
              <li><%= link_to "Mark as Lost", mark_as_lost_lead_path(lead), method: :patch, class: "table-dropdown" %></li>
            </ul>
          </div>
        </td>
      </tr>
      <% end %>
      </table>
      <% else %>
        </table>
        <div class="no-details">No ongoing leads to display</div>
      <% end %>
    </div>

    <!-- PREVIOUS LEADS TABLE -->
    <h2> Previous Leads: </h2>
    <!-- Insert conditional for empty table check here -->
    <div class="scroll-me2">
      <table class="user-table table table-striped" style="width:100%">
        <tr class="table-header bg-grey light-font" id="table-header-grey">
          <th class="user-th">Name:</th>
          <th class="user-th">Email:</th>
          <th class="user-th">Phone:</th>
          <th class="user-th">Source:</th>
          <th class="user-th">Generated:</th>
          <th class="user-th">Result:</th>
        </tr>
        <% if @completed_leads.any? %>
          <% @completed_leads.each do |lead| %>
            <tr class="user-tr">
              <td class="user-td"><%= lead.name %></td>
              <td class="user-td"><%= lead.email %></td>
              <td class="user-td"><%= lead.phone %></td>
              <td class="user-td"><%= lead.source %></td>
              <td class="user-td"><%= lead.created_at.strftime("%d/%m/%y at %I:%M%p") %></td>
              <td class="user-td"><%= lead.status.capitalize %></td>
            </tr>
          <% end %>
        </table>
        <% else %>
          </table>
          <div class="no-details">No lead history to display</div>
        <% end %>
    </div>
  </div>
</div>
</div>

