<div class="navbar-wagon">
  <!-- Logo -->

  <div class="navbar-wagon-left">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <ul class="list-inline navbar-buttons">
      <li><%= link_to "STAFF", users_path, class: "nav-links #{set_users_active_button}", id: "staff-link" %> </li>
      <li><%= link_to "LEADS", leads_path, class: "nav-links #{set_leads_active_button}", id: "lead-link" %> </li>
      <!-- Need to add a 3rd hidden "storage" tab for when no users available (CH) -->
      <li><%= link_to "STORAGE", storage_path, class: "nav-links #", id: "storage-links" %></li>

    </ul>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
    <h3 id="welcome-message"> <%= greet %> <%= current_user.name.split.first %>!</h3>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
        <%= image_tag current_user.photo, class: "avatar-small dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to root_path do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to current_user do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Export Leads"), "/leads.csv", class: "navbar-wagon-item btn btn-primary", id: "nav-button" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <!-- This needs updating once site is 100% responsive (CH) -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">UPDATE ME #1</a></li>
        <li><a href="#">UPDATE ME #2</a></li>
        <li><a href="#">UPDATE ME #3</a></li>
      </ul>
    </div>
  </div>
</div>

