<h1>Leads#edit</h1>
<p>Find me in app/views/leads/edit.html.erb</p>


<%= simple_form_for @lead do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :source %>
  <%= f.association :user %>
  <%= f.button :submit %>
<% end %>
