<!-- Leads index page -->

<div class="lead-wrapper">
  <div class="row">
  <div class="col-xs-2">
    <div class="sidebar-left">

    </div>
    </div>


    <div class="table-wrapper bg-light-grey">
    <div class="col-xs-10">

      <!-- Manually Create Lead -->
      <%= link_to "Add Lead", new_lead_path, class: "btn btn-primary" %>

      <!-- Table setup -Chris -->


        <div class="scroll-me">

          <table class="user-table" style="width:100%">

          <tr class="table-header bg-grey light-font">
            <th class="user-th">Status</th>
            <th class="user-th">Saleperson</th>
            <th class="user-th">Received</th>
            <th class="user-th">Contact Name:</th>
            <th class="user-th">Contact Email:</th>
            <th class="user-th">Source</th>
            <th class="user-th">Outcome</th>
            <th class="user-th">Edit</th>
            <th class="user-th">Delete</th>
          </tr>

          <% @leads.each do |lead| %>
          <tr class="user-tr">
            <td class="user-td"><%= lead.status.capitalize %></td>
            <td class="user-td"><%= link_to lead.user.name, user_path(lead.user) %></td>
            <td class="user-td"><%= lead.created_at %></td>
            <td class="user-td"><%= lead.name %></td>
            <td class="user-td"><%= lead.email %></td>
            <td class="user-td"><%= lead.source %></td>
            <td class="user-td">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Accept Lead", mark_as_accepted_lead_path(lead), method: :patch, class: "btn btn-primary" %></li>
                    <li><%= link_to "Settle Lead", mark_as_settled_lead_path(lead), method: :patch, class: "btn btn-primary" %></li>
                    <li><%= link_to "Mark as Lost", mark_as_lost_lead_path(lead), method: :patch, class: "btn btn-primary" %></li>
                  </ul>
                </div>
            </td>
            <td class="user-td"><%= link_to "Edit", edit_lead_path(lead), class: "btn btn-primary" %></td>
            <td class="user-td"><%= link_to "Delete", lead_path(lead), method: :delete, data: { confirm: "Are you sure you want to Delete this lead?" } %></td>

          </tr>
          <% end %>
          </table>

        </div>
      </div>
    </div>
    </div>






</div>






<!-- Stats -->

  <!-- Conversion Rate -->
  <p>Conversion Rate: <%= conversion_rate_for(@leads.where(status: "settled"), @leads) %> %</p>
  <!-- Avg Response Time -->
  <p>Avg Response Time: <%= Lead.average(:response_time).round %> seconds</p>
  <!-- Total Leads this week -->
  <p>Total Leads this week: <%= count_leads_since(DateTime.yesterday) %> leads this week!</p>
  <!-- Highest Salesperon -->
  <p>SalesPerson Ranking: <%= calculate_ranking(User) %> is First!!</p>
  <!-- User Response time -->
  <p>User AVG Response Time: <%= User.first.leads.average(:response_time).round %> seconds</p>
  <!-- Leads from each Source -->
  <p>Leads from Truck Sales: <%= @leads.where(source: "Truck Sales").count %> leads</p>
  <!-- Lead generated ... ago -->
  <p>Lead generated... <%= time_ago_in_words(User.first.leads.first.created_at) %> ago</p>
