<!-- LEADS INDEX PAGE -->
<div class="main-wrapper bg-light-grey">
  <div class="sidebar">
    <div class="stats-wrapper">
      <div class="bg-grey stats">
        <h2 class="light-font stat-header">Conversion Rate</h2>
        <div class="spinner" id="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        <p class="stat-detail stat-number hidden" id="conversion-rate"><%= global_conversion_rate_for(@leads.where(status: "settled"), @leads.where(status: ["settled", "lost"])) %>%</p>
      </div>
    </div>

    <div class="stats-wrapper">
      <div class="bg-grey stats">
        <h2 class="light-font stat-header">Rank #1</h2>
        <h2 class="stat-detail"><%= calculate_ranking(@users).first[:name] %> </h2>
        <!-- INSERT AVATAR HERE -->
        <% top_name = calculate_ranking(@users).first[:name] %>
        <% top_user = User.where(name: top_name) %>
        <%= image_tag top_user.first.photo, class: "center-block avatar-medium" %>
      </div>
    </div>

    <div class="stats-wrapper">
      <div class="bg-grey stats">
        <h2 class="light-font stat-header">Total Leads (this week)</h2>
        <h2 class="stat-detail stat-number"><%= count_leads_since(DateTime.yesterday) %></h2>
      </div>
    </div>

    <div class="stats-wrapper">
      <div class="bg-grey stats">
        <h2 class="light-font stat-header">Avg Response Time (mins):</h2>
        <p class="stat-detail stat-number"><%= (Lead.average(:response_time) / 60).round %></p>
      </div>
    </div>
</div>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
      <div class="table-wrapper">
      <ul class="list-inline">
      <li><h1>Leads Status</h1></li>
      <!-- Manually Create Lead -->
      <li><%= link_to "Add Lead", new_lead_path, class: "btn btn-primary add-lead-btn", id: "bottom-button-margin" %></li>
      <div class="next-lead-box">
      <%= image_tag("blue-icon.png", size: "30x18", alt: "Mail Icon") %>

      <!-- Need to add conditional here to prevent site crash when no users -->
        <% if Lineup.first.lineup.empty? %>
          <h3><b>Warning: No staff on duty to receive leads</b></h3>
        <% else %>
          <h3>The next lead will be forwarded to: <b><%= Lineup.first.lineup.first.name %></b></h3>
        <% end %>


       </div>
          <div class="scroll-me">
          <%= will_paginate %>
            <table class="table table-fit table-striped" style="width:100%">

          <tr class="bg-grey light-font table-font" id="table-header-grey">
            <th class="user-th"><%= link_to leads_path(order: "received_at") do %>Received<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

            <th class="user-th status-width"><%= link_to leads_path(order: "status") do %>Status<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

            <th class="user-th sales-width"><%= link_to leads_path(order: "salesperson") do %>Salesperson<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

            <th class="user-th"><%= link_to leads_path(order: "name") do %>Lead Name<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

            <th class="user-th"><%= link_to leads_path(order: "email") do %>Lead Email<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

            <th class="user-th"><%= link_to leads_path(order: "phone") do %>Lead Phone<% end %></th>

            <th class="user-th source-width"><%= link_to leads_path(order: "source") do %>Source<i class="fa fa-sort light-font" aria-hidden="true"></i><% end %></th>

            <th class="user-th options-width"></th>
            <th class="user-th"></th>
          </tr>

          <% @leads.each do |lead| %>
          <tr class="user-tr">
            <td class="user-td"><%= lead.created_at.strftime(" %d/%m/%y at %I:%M%p") %></td>
            <td class="user-td">
            <% if lead.status == "settled" %>
              <div id="status-green"> <%= lead.status.capitalize %></td>
              </div>
            <% elsif lead.status == "pending" %>
              <div id="status-yellow"> <%= lead.status.capitalize %></td>
              </div>
            <% elsif lead.status == "accepted" %>
              <div id="status-blue"> <%= lead.status.capitalize %></td>
              </div>
            <% else lead.status == "lost" %>
              <div id="status-red"> <%= lead.status.capitalize %></td>
              </div>
            <% end %>
            <td class="user-td"><%= link_to lead.user.name, user_path(lead.user) %></td>
            <td class="user-td"><%= lead.name %></td>
            <td class="user-td"><%= lead.email %></td>
            <td class="user-td"><%= lead.phone %></td>
            <td class="user-td"><%= lead.source %></td>
            <td class="user-td">
            <div class="drpdwn">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle table-button" type="button" data-toggle="dropdown">Options
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Accept Lead", mark_as_accepted_lead_path(lead), method: :patch, class: "table-dropdown" %></li>
                    <li><%= link_to "Settle Lead", mark_as_settled_lead_path(lead), method: :patch, class: "table-dropdown" %></li>
                    <li><%= link_to "Mark as Lost", mark_as_lost_lead_path(lead), method: :patch, class: "table-dropdown" %></li>
                  </ul>
                </div>
            </div>
            </td>
            <td class="user-td">
              <%= link_to "Edit", edit_lead_path(lead), class: "btn btn-primary table-button" %>
              <%= link_to lead_path(lead), method: :delete, class: "x-margin", data: { confirm: "Are you sure you want to Delete this lead?" } do %>
              <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
              </td>
          </tr>
          <% end %>
          </table>
          <%= will_paginate %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


