<h1>Add a Lead...</h1>
<p>Find me in app/views/leads/new.html.erb</p>

<!-- @lead = Lead.new -->
<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-6">
      <div class="bg-light-grey lead-form">
        <%= simple_form_for @lead do |f| %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :source %>
          <%= f.association :user %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>


 <!-- "name"
    t.string   "email"
    t.string   "recieved_at"
    t.string   "accepted_at"
    t.string   "status"
    t.string   "source"
    t.integer  "user_id"
    t.datetime "created_at",    null: false
    t.datetime "updated_at",    null: false
    t.float    "response_time"
 -->
