<!-- @lead = Lead.new -->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h1>Add a Lead...</h1>
      <div class="bg-light-grey lead-form">
        <%= simple_form_for @lead do |f| %>
          <%= f.input :name %>
          <%= f.input :email %>
          <%= f.input :phone %>
          <%= f.input :source %>
          <%= f.association :user %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


