<div class="navbar-home">
  <!-- Logo -->
  <div class="navbar-wagon-left">
    <%= link_to root_path, class: "navbar-home-brand" do %>

      <%= image_tag "logo-02.png" %>
    <% end %>

  <% if current_user %>
    <ul class="list-inline">
      <li><%= link_to "Dashboard", users_path, {class: "logged-in-dash btn-transparent login navbar-links"} %> </li>
    </ul>
  <% else %>
    <ul class="list-inline">
      <li><%= link_to "Login", new_user_session_path, {class: "btn-transparent login navbar-links"} %> </li>
      <li><%= link_to "Get started for FREE", new_user_session_path, {class: "btn btn-primary get-started navbar-links"} %> </li>
    </ul>
  <% end %>
  </div>
</div>

  <!-- Banner code -->
<div class="banner-wrapper">
  <div class="banner bg-gradient banner-gradient" id="banner-gradient">
    <div class="banner-img">
    <%= image_tag "emailer.png" %>
    </div>
    <div class="banner-text">
      <h1 class="light-font">Emailing leads to your sales team?</h1>
        <h2>Forward them instantly with LeadMailer</h2>
        <%= link_to "LEARN MORE", "#", {id: "learn-more", class: "btn btn-primary banner-btn btn-transparent"} %>
    </div>
  </div>
</div>

<!-- Do you have salesteam...etc -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="home-wrapper text-center">
        <div id="scroll-first">
          <h1>Do you have leads arriving by email, and a sales team to distribute them to?</h1>
            <h2>We know speed of contact is critical so we’ve cut out the middle man</h2>
              <%= image_tag "blueline.png", alt: "blue line", width: "200px" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7">
      <div class="salesteam-wrapper">
        <h1 class="blue-font">Deliver and contact leads faster </h1>
        <h2>Send leads to a centralised inbox and we'll forward them to your salesteam in round robin manner</h2>
        <BR>
        <BR>
          <h2 class="blue-font">Don't spend thousands on a complicated CRM</h2>
        <ul>
          <li>No integration - sits beside your current CRM / database</li>
          <li>ZERO data transfer costs</li>
          <li>Simple set up - no download required</li>
        </ul>
        <BR>
          <h2 class="blue-font">Do less, know more</h2>
        <ul>
          <li>Analytics to empower your marketing team and effectively channel your marketing spend</li>
          <li>Dedicated salesperson dashboard to mark the lead result and measure performance</li>
        </ul>
      </div>
    </div>
    <div class="col-md-5 no-gutter">
      <%= image_tag "imac.png", alt: "imac", width: "100%", class: "ipad-img" %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center">
      <%= link_to "FOR YOUR TEAM", "#", { id: "testimonials", class: "btn btn-primary btn-large"} %>
      </div>
    </div>
  </div>
</div>


<!-- Testimonials -->
<div class="bg-grey">
<h1 class="light-font text-center cta-banner"><div id="scroll-second"></div>How can LeadMailer assist your team?</h1>




</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="salesteam-wrapper">
      <h1>Sales and Brokers</h1>
      <ul>
        <li>Receive the lead in your inbox as soon as the form is submitted</li>
        <li>Act on leads faster, close more deals</li>
        <li>Manage your availability</li>
        <li>Measure your performance</li>
        <li>Simple 1 page interface - access from your inbox</li>
      </ul>
      <p class="btn btn-primary btn-sml pull-right"><i class="fa fa-share white-font" aria-hidden="true"></i> Forward to my Boss</p>
      </div>
    </div>
    <div class="col-md-6 no-gutter">
      <%= image_tag "phone-man.jpg", width: "100%", alt: "salesman" %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 no-gutter">
      <%= image_tag "marketing.png", width: "100%", alt: "marketing" %>
    </div>
      <div class="col-md-6">
        <div class="salesteam-wrapper">
      <h1>Marketing</h1>
      <ul>
        <li>No more manual lead forwarding</li>
        <li>No need to input leads to a spreadsheet</li>
        <li>See the outcome of every lead generated</li>
        <li>Toggle salesperson availability</li>
        <li>View statistics to better channel your spend</li>
        <li>Measure salesteam performance and response time</li>
        <li>See which campaigns are producing the most leads</li>
      </ul>
      <p class="btn btn-primary btn-sml pull-right"><i class="fa fa-lightbulb-o light-font" aria-hidden="true"></i> Start Free Trial</p>
      </div>
    </div>
  </div>
</div>
