<div class="navbar-home">
  <!-- Logo -->
  <div class="navbar-wagon-left">
    <%= link_to root_path, class: "navbar-home-brand" do %>

      <%= image_tag "logo-02.png" %>
    <% end %>

  <% if current_user %>
    <ul class="list-inline">
      <li><%= link_to "Dashboard", users_path, {class: "logged-in-dash btn-transparent login navbar-links"} %> </li>
    </ul>
  <% else %>
    <ul class="list-inline">
      <li><%= link_to "Login", new_user_session_path, {class: "btn-transparent login navbar-links"} %> </li>
      <li><%= link_to "Get started for FREE", new_user_session_path, {class: "btn btn-primary get-started navbar-links"} %> </li>
    </ul>
  <% end %>
  </div>
</div>

  <!-- Banner code -->
<div class="banner-wrapper">
  <div class="banner bg-gradient banner-gradient" id="banner-gradient">

  <div class="banner-img">
  <%= image_tag "emailer.png" %>
  </div>
  <div class="banner-text">
    <h1 class="light-font">Emailing leads to your sales team?</h1>
  <h2>Forward them instantly with LeadMailer</h2>
  <%= link_to "LEARN MORE", new_user_session_path, {class: "btn btn-primary banner-btn btn-transparent"} %>
  </div>
</div>

<!-- Do you have salesteam...etc -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="salesteam-wrapper">
      <h1 class="pull-left">Do you have leads arriving by email,
      and a sales team to distribute them to?</h1>
      <%= image_tag "blueline.png", alt: "blue line", width: "200px" %>
      <h2>We know speed of contact is critical so we’ve cut out the middle man.</h2><BR>
      <ul>
        <li> Leads distributed in round robin manner</li>
        <li> Lightweight - sits on top of your current CRM</li>
        <li> ZERO data transfer costs</li>
      </ul>
      <%= link_to "GET STARTED", new_user_session_path, {class: "btn btn-primary pull-right btn-transparent"} %>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag "ipad.png", alt: "salesman", width: "500px", class: "ipad-img" %>
    </div>
    </div>
  </div>
</div>

<!-- Let us assist you in 3 simple steps -->

<div class="salesteam-wrapper bg-gradient">
<h1 class="light-font text-center">3 Simple Steps to increase your marketing income</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="text-center">
        <h1 class="light-font home-number">1</h1>
        <h2 class="light-font">Route</h2>
        <p class="light-font">Add your sales team via their email address, and they will be added to the lead rotation.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h1 class="light-font home-number">2</h1>
         <h2 class="light-font">Record</h2>
        <p class="light-font">Any new leads are emailed directly to the salesperson, and added to the manager and salesperson dashboard</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <h1 class="light-font home-number">3</h1>
        <h2 class="light-font">Report</h2>
        <p class="light-font">Do less, know more with simple analytics for time poor business owners.
</p>
      </div>
    </div>
    </div>
  </div>
